.navbar{
    width: auto
}
*{
    text-wrap: wrap !important;
}
.time-table-div{
    background-image: url('/public/bg.webp');
    /* background-position: right bottom, left top; */
    background-size: auto;
    background-size: 100vw 100vh;
    background-repeat: no-repeat, repeat;
}

.cl-0{
    background-color: white;
}

.cl-1{
    background-color: rgb(183, 211, 255);
}

.cl-2{
    background-color: rgb(194, 255, 194);
}